@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.log_panel {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

#log {
    position: relative;
    /* top: -34px; */
}

#scrollLock {
    width: 2px;
    height: 2px;
    display: block;
}

.log_panel {
    height: 500px;
    padding-top: 50px;
}

#box_check {
    display: block;
    height: 700px;
    background-color: #fff;
}

div.scroll {
    background-color: #ccc;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #28a745;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #28a745;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .lb{
    margin: 0 4px;
    color: #28a745;
  }